.wrap-content-ticket {
  text-align: center;
  background-color: bisque;
  font-size: 30px;
  height: 400px;
  color: #ffffff;
  width: 100%;
}
.wrap-content-ticket-item {
  display: flex;
  justify-content: center;
  height: 100%;
}


.content-ticket-item .item1 .item2 {
  color: white;
  border: 1px solid white;
}
